<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Manager</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body style="background-color: #fafafa;">
    <!-- <nav class='navbar navbar-default' style='background-color:#455a64;'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' style="color: aliceblue" href='/'>QuizUP</a>
            </div>
            <div class='collapse navbar-collapse'>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a style="color: aliceblue" href='/register'>SignUp</a></li>
                    <li><a style="color: aliceblue" href='/login'>Login</a></li>
                    <li><a style="color: aliceblue" href='/logout'>LogOut</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
    <nav class='navbar navbar-expand-sm bg-dark navbar-dark fixed-top' style='background-color:#455a64'>

        <a class='navbar-brand' href='#'>QuizUP</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#x" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="#x">
                <ul class='navbar-nav navbar-right'>
                    <li class="nav-item">
                        <a class="nav-link" href='/logout'>LogOut</a>
                    </li>
                </ul>

            </div>
        </div>


    </nav>