<% include partials/header.html %>


<div style='height : 100%; display : flex; justify-content : center;align-items: center;'>
    <form action='/subject/<%= subject._id %>/topic/' method='POST'>
        <div class="form-group" style='width : 100%'>
            <label for="topicName">Topic Name</label>
            <input type='text' class="form-control" id="topicName" name='topic[topicName]' placeholder='Topic Name'>
        </div>
        <div class="form-group" style='width : 100%'>
            <label for="Marks">Marks</label>
            <input type='number' class="form-control" id="Marks" name='topic[marks]' placeholder='Marks'>
        </div>
        <button class="btn btn-warning">Submit</button>
        <a class="btn btn-warning" href='/subject/<%= subject._id %>/topic'>Go back</a>
    </form>



    <% include partials/footer.html %>