<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Manager</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style="background-color: #fafafa;">
    <nav class='navbar navbar-expand-sm bg-dark navbar-dark fixed-top'>

        <a class='navbar-brand' href='#' style="color: aliceblue">QuizUP</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#x" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class='collapse navbar-collapse'>
            <ul class='navbar-nav ml-auto'>
                <li class="nav-item">
                    <a class="nav-link" href='/logout'>LogOut</a>
                </li>
            </ul>
        </div>


    </nav>
    <div style='margin-left: 130px;margin-bottom: 10px;margin-top: 100px'>
        <h3>List of subjects</h3>
    </div>
    <% subjects.forEach(function(subject) { %>
    <div class='container' style='margin-bottom: 10px;'>
        <div class="card">
            <div class="card-header" style="background-color: #eeeeee">
                <%= subject.subjectName %>
            </div>
            <div class="card-body">
                <p class="card-title">Year : <%= subject.year %></p>
                <% if(req.user.type == 'teacher') { %>
                <a href="/subject/<%= subject._id %>/topic %>" class="btn btn-primary">View Topics</a>
                <% } %>
                <% if(req.user.type == 'student') { %>
                <a href="/subject/<%= subject._id %>/topic %>" class="btn btn-primary">View Topic</a>
                <% } %>
            </div>
        </div>
    </div>

    <% }) %>

    <% if(req.user.type == 'teacher') { %>

    <div style='text-align: center'>
        <a href='/subject/newsub' class="btn btn-secondary btn-lg" style="margin : 20px;">Add a new subject!</a>
    </div>
    <% } %>
    <% include partials/footer.html %>